
body{  

background: url(../pictures/fundo.png) relative center; 
background-image: url(../pictures/fundo.png); 
background-attachment: relative; 
background-position: center; 
}



.container{
    margin: auto;
    position: relative;
    top: 120px;
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    
    
}

.container h1{
    position: relative;
    font-family: arial; 
    font-size: 180%;
}
input[type="text"] {
    position: relative;
    height: 8%;
    width: 80%;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    margin-top: 5%;
}

input[type="password"]{
    position: relative;
    height: 8%;
    width: 80%;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    margin-top: 5%;
}
input[type="submit"]{
    position: relative;
    background-color: #036;
    color: white;
    width: 80%;
    height: 6%;
    border-radius: 17px;
    border: none;
    font-family: arial;
    font-size: 15px;
    margin-top: 5%;
    
}
input[type="submit"]:hover{
    background-color: #00264d;
}

button[type="button"]{
    position: relative;
    background-color: #036;
    color: white;
    width: 80%;
    height: 6%;
    border-radius: 17px;
    border: none;
    font-family: arial;
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 2%;
    
}

button[type="button"]:hover{
    background-color: #00264d;
}

.botao a{
    text-decoration: none;
    color: white;
    font-family: arial;
}

