body{
    overflow: hidden;
}
.principal{
    position: relative;
    background-color: ;
    width: 400px;
    margin: auto;
    height: auto;
    top: 55px;
    
}
.principal li{
    list-style: none;
    color: red;
}

