
body{
    background: #202225;
    overflow-x: hidden;
}

.tudo{
    margin: auto;
    width: 700px;
    height: auto;
}
.tudo h2{
    font-family: 'Quicksand', sans-serif;
    color: #436f99;
    padding: 15px 0 0 0;
}
.tudo p{
    font-family: 'Quicksand', sans-serif;
    padding: 0 20px;
    color: white;
}
.tudo hr{
    width: 400px;
    height: 1px;
    background-color: #436f99;
    border-radius: 10px;
    border-color: #436f99;
    border-top-width: 0px;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
}

footer p{
    position: relative;
    color: white;
    left: 200px;
    font-family: 'Quicksand', sans-serif;
}
