
body{
    background: #202225;
    overflow-x: hidden;
    height: auto;
}
.barra{
    top: -10px;
    position: relative;
    width: 110%;
    height: 25%;
    background-color: #2d2f33;
    padding: 20px 0px;
    margin: auto;
}

.dvPrincipal{
    position: relative;
    top: 15%;
    width:100%;
    max-width: 600px;
    margin: auto;
}
             
.dvBarra{
background-color: #fff; /*mudar essa cor*/
    padding: 7px;
}
.dvBarra span{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

}
             
.btnClick{
    cursor: pointer;
    font-size: 22px;
    margin-top: -3px;
    float: right;
}                              
.dvConteudo{
    display: none;

}
.dvConteudo p{
    font-family: 'Quicksand', sans-serif;
    padding: 0px 20px;
    color: white;

}
footer p{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
footer{
    left: 5%;
    width: 100%;
    margin: auto;
	position: absolute;
	bottom: 0;
}
.barra h1{
    font-family: 'Quicksand', sans-serif;
    
}

