body{
    background: #202225;
    overflow: hidden;
}

.download{
    top: 50px;
    position: relative;
    
    height: auto;
    padding: 20px 0px;
    margin: auto;
}

.download .logo{
    top: 15px;
    display: block;
    position: relative;
    width:300px;
    height:100px;
    left:40%;
}
.download label{
    position: relative;
    top: 100px;
    padding: 0 450px;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
}
.download .descricao{
    padding: 100px 350px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}


footer {
    position:absolute;
    bottom:0;
    width:100%;
}
footer p{
    color: white;
    text-align: center;
    
}

.botao{
    position: relative;
    width: 300px;
    height: 60px;
    left: 40%;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    border: 2px solid #436f99;
    background-color: #202225;
    color: #436f99;
    top: -50px;
}
.botao:hover{
    background-color: #436f99;
    color: white;
}
.download .windows{
    position: relative;
    text-align: center;
    color: white;
    top: -50px;
    font-family: 'Quicksand', sans-serif;
}
.download .windows a{
    text-decoration: none;
    color: #436f99;
}
.download .windows a:hover{
    text-decoration: underline;
}
.download .termos{
    position: relative;
    text-align: center;
    color: white;
    top: -50px;
    font-family: 'Quicksand', sans-serif;
}
.download .termos a{
    text-decoration: none;
    color: #436f99;
}
.download .termos a:hover{
    text-decoration: underline;
}
.tudo{
    width: 110%;
    margin: auto;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
}

footer p{
    position: relative;
    color: white;
    left: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
