body{
    background-color: #202225;
    overflow-x: hidden;
    
}
.php{
    text-align: center;
    color: white;
}
footer{
    bottom:0;
    width:100%;
}

footer p{
    text-align: center;
    position: relative;
    color: white;
    font-family: 'Quicksand', sans-serif;
}


#provas{
    position: relative;
    top: 30px;
    width: 60%;
    height: auto;
    margin: auto;
    left: 30px;
}
#provas ul li{
    list-style: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    font-size: 20px;
    margin-left: 2%;
}
#provas ul li button{
    float: right;
    margin-left: 10px;
    border: none;
    width: 90px;
    height: 25px;
    border-radius: 2px;
}
.amarela{
    background-color: #f7e37e;
}
.azul{
    background-color: #7dc0f7;
}
.rosa{
    background-color: #ffa0a0;
}

.cinza{
    background-color: #a8a8a8;
}
#provas ul li button a{
    text-decoration: none;
    color: black;
}
h2{
    font-family: 'Quicksand', sans-serif;
    color: #436f99;
    font-size: 25px;    
}
