body{
    background-color: #202225;
    overflow-x: hidden;
}
.perguntas{
    top: 80px;
    margin: auto;
    position: relative;
    width: 700px;
    height: auto;
    border: 2px solid #436f99;
    left: 50px;
    border-radius: 10px;
    
}
#p1{
    font-size: 27px;
    font-family: 'Quicksand', sans-serif;
    padding: 0px 10px;
    color: white;
    line-height: 40px;   
}


@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #5794e5;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #5794e5;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}


.perguntas {
    padding: 2em;
}
.perguntas label {
    display: block;
    line-height: 40px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

input[type="submit"]{
    position: relative;
    float: right;
    width: 19%;
    height: 44px;
    background-color: #436f99;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    bottom: 40px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #2d5275;
}


footer{
    position:absolute;
    width:100%;
    left: 50px;
}

footer p{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.materia{
    text-align: center;
    width: 100%;
}
.materia label{
    position: relative;
    color: white;
    left: 50px;
}



