body{
    overflow-x: hidden;
    background-color: #202225;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
}

footer p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}