*{ 
    margin: 0; 
    padding: 0; 
}

body{  
    background: url(../pictures/fundo.png) fixed center; 
    background-image: url(../pictures/fundo.png); 
}


.link{ 
    color: white; 
}

.block{  
    display: block; 
}

.centralizado{ 
    color: white; 
    font-weight: bolder; 
    margin-left: 50px;
    font-family: 'Quicksand', sans-serif;
}

.centralizadoEscuro{ 
color: white; 
font-weight: bolder; 
font-size: 50px; 
margin-left: 50px;
    font-family: 'Quicksand', sans-serif;
}
p{ 
    color: white; 
    font-size: 20px; 
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}
.centro{
margin: 0 auto; 
width: 50%; 
}

.escuro{ 
background-color: #1a2028; 
color: white;
}


.menu > li{
	position: relative;
	display: inline-block;
}

.submenu{
	position: absolute;
	background: #3C3C3C;
	width: 140%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a{
	display: block;
	padding: 10px;
	
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
.inicio li:hover{
	color: grey;
	transition: all .3s;
}
.menu > li > a{
	padding: 50px 10px;
}
a.botao{
    margin: 10px auto;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 18px;
    background: #0066cc;
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    top: 7px;
    left: 100px;
}
a.botaocessar:hover{
    background-color: #1a2028;
}
ul li a{
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-family: 'Quicksand', sans-serif;
}
.slider {
     display: block;
     height: 293px;
     width: 600px;
     margin: auto;
     margin-top: 20px;
     position: relative;
 }

 .slider li {
     list-style: none;
     position: absolute;
 }

 .slider img {
     margin: auto;
     height: 100%;
     width: 100%;
     vertical-align: top;
 } 
.slider input {
    display: none;
}
.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}
.slider li:nth-child(1) label {
    left: 10px;
}
.slider li:nth-child(2) label {
    left: 40px;
}
.slider li:nth-child(3) label {
    left: 70px;
} 
 .slider img {
     opacity: 0;
     visibility: hidden;
 }

 .slider li input:checked ~ img {
     opacity: 1;
     visibility: visible;
     z-index: 10;
 }



