body{
    margin: 0px;
    padding: 0px;
    background-color:url(../pictures/fundo.png) fixed center;
    background-image: url(../pictures/fundo.png);
    background-color: #0F2D51;
}
#box{
    height: 250px;
    width: 1100px;
    background-color:#1a1a1a;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main{
    height: 500px;
    width: 500px;
    background-color:white;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#loginform,#signupform{
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#signupform{
    top:45%;
    left: 75%;
    visibility: hidden;
}
#loginform h1,#signupform h1{
    font-family: arial;
    font-size: 25px;
    color:  black;
}
#loginform input,#signupform input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    margin: 5px;
}
#loginform button,#signupform button{
    height: 35px;
    width: 130px;
    background-color: #036;
    font-family: monospace;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
}
#login_btn,#signup_btn{
    height: 35px;
    width: 120px;
    background-color:transparent;
    color:white;
    border:1px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top:65%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}
#signup_btn{
    left: 25%;
}
#login_btn:hover,#signup_btn:hover{
    background-color:white;
    color:#2d2d2d;
    cursor: pointer;
}
#login_msg,#signup_msg{
    font-family: arial;
    font-size: 25px;
    color:white;
    position: absolute;
    top:35%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#signup_msg{
    left: 25%;
}

#loginform button:hover,#signupform button:hover{
    background-color: #00264d;
}

a:link {
    text-decoration: none;
	color: gray;
    font-family: arial;
    font-size: 12px;
    position: relative;
    top: -34px;
    left: 15px;
}
a:visited{
    text-decoration: none;
    color: gray;
}

a:hover{
    text-decoration: underline;
    color: gray;
}

#voltar{
    position: relative;
    width: 40px;
    height: 50px;
    background-color: transparent;
    background-image: url('../imagens/voltarhover.png');
    background-repeat: no-repeat;
    border: none;
    top: 70px;
    left: 20px;
}

#voltar:hover{
    background-image: url('../imagens/voltar.png');
    
}

