body{
    background-color: #202225; 
    overflow-x: hidden;
}
.box{
    height: 250px;
    width: 1100px;
    background-color:#1a1a1a;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.principal{
    height: 465px;
    width: 450px;
    background-color:white;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
.login, .cadastro{
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
.cadastro{
    top:45%;
    left: 75%;
    visibility: hidden;
}
.login h1, .cadastro h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: black;
}
.login input, .cadastro input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid black;
    margin: 4px;
    font-family: 'Quicksand', sans-serif;
    color: black;
}
.login button, .cadastro button{
    height: 40px;
    width: 130px;
    background-color: #436f99;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    float: right;
    font-family: 'Quicksand', sans-serif;
}
.btnLogin, .btnCadastro{
    height: 35px;
    width: 120px;
    background-color:transparent;
    color:white;
    border:2px solid #436f99;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top:65%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}
.btnCadastro{
    left: 25%;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid #436f99;
}
.btnlogin:hover, .btnCadastro:hover{
    background-color: #436f99;
    color:white;
    cursor: pointer;
}
.labelConta, .labelNConta{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: white;
    position: absolute;
    top:35%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 1;
    
}
.labelConta{
    left: 25%;
}

.login button:hover, .cadastro button:hover{
    background-color: #2d5275;
}

.login a:link {
    text-decoration: none;
	color: black;
    font-family: arial;
    font-size: 13px;
    position: relative;
    top: 33px;
    left: 15px;
    font-family: 'Quicksand', sans-serif;
}
.login a:visited{
    text-decoration: none;
    color: black;
}

h5 a:hover{
    text-decoration: underline;
    color: black;
}


.php{
    text-align: center;
    color: firebrick;
}

