body{
    background-color: #202225;
    overflow-x: hidden;
}

.oi{
    height: auto;
    width: 800px;
    margin: auto;
    border: 5px solid transparent;
}

.oi hr{
    border-color: #436f99;
}
.materias a{
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    
}
dl.materias {
    margin: 2em 0;
    padding: 0 20px;
    color: white;
}
.materias dt {
    position: relative;
    left: 0;
    top: 1.5em;
    width: 8em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
	}
.materias dd{
    margin: 0 0 0 10em;
	padding: 0 0 .7em .5em;
    color: white;
    font-size: 20px;
}
footer{
    position:absolute;
    width:100%;
}

footer p{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.materias a:hover{
    text-decoration: underline;
}



	