body{
    background-color: #202225;
}

.tudo{
    width: 700px;
    height: auto;
    margin: auto;
}
.tudo h2{
    font-family: 'Quicksand', sans-serif;
    color: #436f99;
    padding: 15px 0 0 0;
}
.tudo p{
    font-family: 'Quicksand', sans-serif;
    padding: 0 20px;
    color: white;
}
.tudo footer{
    text-align: center;
    padding: 50px 0 0 0;
}
.tudo hr{
    width: 400px;
    height: 1px;
    background-color: #436f99;
    border-radius: 10px;
    border-color: #436f99;
    border-top-width: 0px;
}
p a{
    color: #436f99;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
p a:hover{
    text-decoration: underline;
}